

.finTips {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
    margin: 0 auto;
  }
  
  .title {
    font-size: 35px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .tipContainer {
    display: block;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .tipCard {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 30px;
    transition: box-shadow 0.3s;
  }

  .tipCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .description {
    font-size: 35px;
    color: #333; 
    margin: 10px 0;
    line-height: 1.5; 
    text-align: justify;
    border-left: 3px solid #007BFF; 
    padding-left: 10px; 
    background-color: #f7f7f7; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .description:hover {
    background-color: #ffffff; 
  }
  
  .image {
    max-width: 30%;
    height: auto;
   margin-right: 10px;
  }

 /* Add media queries for smaller screens like iPhone SE */
@media (max-width: 320px) {
  .title {
      font-size: 18px;
    
  }

  .tipCard {
  
      width: 80%;
  }

  .description {
      font-size: 10px;
  }
}
  