/* FinancialTips.module.css */

.finTips {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
    margin: 0 auto;
  }
  
  .title {
    font-size: 35px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .tipContainer {
    display: block;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .tipCard {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 30px;
    transition: box-shadow 0.3s;
  }

  .tipCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2); /* Change the box-shadow on hover */
  }
  
  .description {
    font-size: 20px;
    color: #333; /* Darken the text color for better readability */
    margin: 10px 0;
    line-height: 1.5; /* Increase line height for better readability */
    text-align: justify; /* Justify the text for a clean appearance */
    border-left: 3px solid #007BFF; /* Add a left border for emphasis */
    padding-left: 10px; /* Add padding to the left of the border */
    background-color: #f7f7f7; /* Add a background color to the description */
    border-radius: 5px; /* Apply rounded corners to the description box */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  }
  
  .description:hover {
    background-color: #ffffff; /* Change the background color on hover */
  }
  
  .image {
    max-width: 30%;
    height: auto;
   /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; */
   margin-right: 10px;
  }

 /* Add media queries for smaller screens like iPhone SE */
@media (max-width: 320px) {
  .title {
      font-size: 18px;
    
  }

  .tipCard {
  
      width: 80%;
  }

  .description {
      font-size: 10px;
  }
}
  