
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 10% auto;
    padding: 20px;
  }
  
  .table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  /* Style the totals and balance row */
  .table tfoot td {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  

  .text{
    align-items: center;
    justify-content: center;
  }

  /* Media query for iPhone SE and similar small screens */
@media (max-width: 320px) {
  .table {
      padding: 5px; 
  }

  .table th, .table td {
      padding: 4px; 
  }
}