body {
    background-image: url('../../../public/images/backImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 780px;
    position: relative;
}


